body {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    margin: 0;
    padding: 0;

}

img {
    border: none;
    outline: none;
}

section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

button {
    border: none;
    outline: none;

}


/*Menu*/
.container {
    margin-top: 3%;
    width: 90%;

}

header {
    background-color: #f8f8f8;
}

.top-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
}

.logo {

    float: left;

}

nav ul {
    list-style: none;
    display: flex;
    gap: 15px;
    font-weight: 500;
}

header nav ul li {
    border-left: 3px solid #00A9E0;
    border-right: 3px solid #00A9E0;
    padding: 0.7rem 4rem 0.7rem 4rem;
    border-radius: 2px;
}

nav ul li a {
    text-decoration: none;
    color: #000;

}


.search {
    display: flex;
    width: 437px;
    height: 2.5rem;
    border-radius: 20px;
    float: left;
    padding: 5px;
    padding-left: 10px;
    margin: 3px 5px 0 40px;

    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;

}

.btn-header {
    width: 3.5rem;
    height: 2.5rem;
    flex-shrink: 0;
    border: none;
    outline: none;
    margin: 0;
    padding: 0;


    float: left;
    border-radius: 10px;
    background: #00A9E0;
    margin-right: 15px;
}

.icn-header {
    width: 1.5rem;
    height: 1.5rem;
}

.icn-header-space {
    margin-left: 10rem;
    justify-content: end;
}

.menu {
    justify-content: center;
}

.dropbtn {

    background-color: #f8f8f8;
    cursor: pointer;
    font-family: "Roboto", sans-serif;
    font-weight: 500;


}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    border-radius: 5px;
    left: 50%;
    /* Centraliza o dropdown horizontalmente */
    transform: translateX(-50%);
    /* Ajusta a posição para centralizar */
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    border-bottom: 1px solid #ddd;
}


.dropdown:hover .dropdown-content {
    display: block;
}

/*Menu-fim*/
/*Banner*/

.carousel {
    width: 100%;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    position: relative;
}

.slides {
    display: flex;
    /*width: 300%;*/
    animation: slide 12s infinite;
}

.slide {
    width: 100%;
    flex: 1 0 100%;
}

.slide img {
    width: 100%;
    display: block;
}

@keyframes slide {
    0% {
        transform: translateX(0%);
    }

    33% {
        transform: translateX(-100%);
    }

    66% {
        transform: translateX(-200%);
    }

    100% {
        transform: translateX(0%);
    }
}

/*Banner-fim*/

/*Marcas*/

.marcas {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    row-gap: 10px;
}

.btn-marcas {

    background-color: #333;
    border-radius: 3px;

}

/*Marcas-fim*/

/*Produtos*/
.product {
    margin: 0 auto;
    margin-bottom: 5%;
    margin-top: 3%;
    display: flex;
    justify-content: center;
    align-items: center;

}

.title-product {
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    margin-top: 3%;

    background-color: #f9f9f9;
    padding: 10px;
    border-radius: 30px;


}

.title-product h2 {
    margin-right: 70%;
    padding-left: 13px;

}

.title-product a {
    text-decoration: none;
    color: #333;
    padding-top: 10px;

}

.title-product img {
    background-color: #00A9E0;
    border-radius: 10px;
    padding: 5px;



}

/*carrocel*/

#img1, #img2, #img3, #img4, #img5, #img6, #img7, #img8, #img9, #img10, #img11, #img12 {
    visibility: hidden;
}

.carousel-product {
    position: relative;
    width: 80%;
    overflow: hidden;
   
}

.carousel-imgs {
    width: 160%;
    display: flex;
    gap: 20px;
    transition: transform 0.5s ease;    
}

.carousel-product input[type='radio']:checked:nth-child(1)~.carousel-imgs {
    transform: translateX(0);
}

.carousel-product input[type='radio']:checked:nth-child(2)~.carousel-imgs {
    transform: translateX(-80%);
}

.carousel-nav label {
    cursor: pointer;
    display: inline-block;
    width: 20px;
    height: 20px;
    background: #00A9E0;
    margin: 10px;
    border-radius: 15px;
}

.carousel-nav label:hover {
    background: #000;
}


.carousel-product .img-product {
    
    align-items: center;
    transition: all 0.3s;
    z-index: 40;
    
    
}

/* Card*/
.card {
    border: none;
    margin-bottom: 3%;
}

.card-body {
    margin-left: 5%;
    margin-right: 5%;
    margin-top: -60px;
    display: flex;
    flex-direction: column;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1), -2px -2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
    padding-top: 80px;
    text-align: left;
    padding: auto;
    justify-content: space-between;

}

.card-body a {
    width: 100%;
    height: auto;
    background: #333;
    border: none;

}

.card-body p {
    font-weight: 50px;
    font-size: smaller;
}

.favorit {
    position: absolute;
    top: 280px;
    right: 10px;
    cursor: pointer;
}

.stars {
    position: absolute;
    top: 310px;
}


/*Produtos - fim*/

/*miniBanner*/
.miniBanner {
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;

}

.miniBanner img {
    padding: 20px;
}

/*miniBanner*/

/*PromBanner*/
.prmotionBanner {
    margin-top: 10%;
    margin-bottom: 5%;
}


/*Login*/

.login{
    width: 65%;
    height: auto;
    display: block;
    justify-content: center;
    align-items: left;
    margin: 0 auto;
    margin-bottom: 4rem;
    margin-top: 3rem;
}

.login-title a{
    display: flex;
    text-decoration: none;
    color: #00A9E0;

}

.login input{
    border-radius: 10px;
}



footer {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

footer nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 15px;
}

footer nav ul li a {
    text-decoration: none;
    color: #fff;
}